doctype html
html
  head
    link(
      rel="stylesheet",
      href="../../css/all.css"
    )    
    link(
      href='http://fonts.googleapis.com/css?family=Open+Sans',
      rel='stylesheet',
      type='text/css')
  body
    .navbar
      .navbar-header
        | waitR
    .view
      block view
