doctype html
html
	head
		meta(name="viewport", content="width=device-width, user-scalable=no")
		link(
			rel="stylesheet",
			href="../../css/all.css"
		)
		script(
			src='/assets/jquery.min.js'
		)
		script(
			src='/assets/general.js'
		)

	body

		.navbar
			.navbar__header(onclick="toggleMenu()") 
				.navbar__brand(id="brand") waitR

		.view(id='yolo')
			.side-menu 

				.circle 

				.side-menu__title
					| My Account
				ul
					li.side-menu__item.flag
						.flag__image
							img(src="/assets/icon/credit98.svg")
						.flag__body
							| Credit Card

					li.side-menu__item.flag
						.flag__image
							img(src="/assets/icon/profile.svg")
						.flag__body
							| Profile

				.side-menu__separator

				.side-menu__title
					| Orders
				ul
					li.side-menu__item.flag
						.flag__image
							img(src="/assets/icon/black64.svg")
						.flag__body
							| Current

					li.side-menu__item.flag
						.flag__image
							img(src="/assets/icon/circular9.svg")
						.flag__body
							| In the need

					li.side-menu__item.flag
						.flag__image
							img(src="/assets/icon/little14.svg")
						.flag__body
							| History

				.side-menu__separator

				.side-menu__title
					| The Doodle Bar
				ul
					li.side-menu__item.flag
						.flag__image
							img(src="/assets/icon/circular4.svg")
						.flag__body
							| Events

					li.side-menu__item.flag
						.flag__image
							img(src="/assets/icon/little27.svg")
						.flag__body
							| Vouchers

					li.side-menu__item.flag
						.flag__image
							img(src="/assets/icon/info9.svg")
						.flag__body
							| About

			.container(id="container")
				block view
